<section id="aboutme" class="about">
 <div class="container">
    <h2 class="section-title">A little about me.</h2>
    <div class="definitions">
                    <header class="section-intro"><span>Pronounced: &nbsp;</span>
                        <h3> Mah·gah·lie&nbsp;| [Mah-gah-li]</h3></header>
                    <ol>
                        <li>RARE PERSONALITY, AUTHENTIC AND NO-NONSENSE.</li>
                        <li>Front-End Developer [<a alt="Magalie Linda's Front-End Development Work" href="#mywork">view my work</a>];</li>
                        <li>Idea Ninja. Fast Thinker. Concept Queen.</li>
                        <li>Traveller.</li>
                        <li>Lover of tea and coffee;</li>
                        <li>Everything cats;</li>
                        <li>Loves making lists;</li>
                        <li>Makes beautiful, clear, clean websites;</li>
                        <li>Learning about JavaScript, AngularJS and BackboneJS;</li>
                        <li>Hates wasting her time.</li>
                    </ol>
                    <h3>A short bio...</h3>
                    <p>I have been working in the world of the web for more than 5 years. Because of my experience and natural fondness for organisation, I always look for the best way and fastest to get things done.</p>
                    <p>My biggest passion is working in short projects. I enjoy learning new things, like Backbone.js. It is however not yet at a level that I can use it commercially.</p>
                </div>
                <div class="origins">
                    <header class="section-intro">
                        <h3>Relevant skills:</h3></header>
                    <ul>
                        <li>
                            <span class="skill-label">HTML5/CSS3</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Sass, LESS and Compass</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">JavaScript</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">PHP</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Git (Command Line, too)</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Gulp</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-half-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Photoshop</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Scrum/Agile</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">WordPress Theming (not Plugins)</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                        <li>
                            <span class="skill-label">Drupal Theming (not Modules)</span>
                            <span class="stars">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </span>
                        </li>
                    </ul>
                    
                </div>
 </div>
 </section>