 <a href="#0" class="cd-top">Top</a>
    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="copyright">
            <p>Made with <span class="heart"></span> by <a class="madewithlove andsupportedbysjoukje" href="mailto:mail@mayconnect.org">Magalie Linda</a>.</p>
            <p>All rights for Magalie Linda Chetrit © 2016</p>
        </div>
    </footer>