<!-- navigation.njk -->
<header>
    <div class="container">
        <div class="logo">ML</div>
        <h1 class="site-title"><a href="/">Magalie Linda</a></h1>
        <nav class="share-my-work">
            <ul>
                <li><a href="http://nl.linkedin.com/in/magaliechetrit" class="mylinkedin" alt="LinkeIn of Magalie Linda">LinkedIn</a></li>
                <li><a href="http://github.com/BluePraise" alt="Github of Magalie Linda" class="mygithub">Github</a></li>
                <li><a href="http://codepen.io/magalielinda/" class="mycodepen" alt="Codepen of Magalie Linda">Codepen</a></li>
            </ul>
        </nav>
    </div>
</header>