<header>
	<h1 class="site-title">{{ sitesettings[0].sitetitle }}</h1>
	<nav class="social-nav">
		<ul>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
			<li><a href="#"></a></li>
		</ul>
	</nav>
</header>