
<div class="magalielinda">
	<div class="overlay">
		<div class="hero-container">

			<h2 class="hero--title animated fadeInDownBig"><i class="fa fa-times" aria-hidden="true"></i> Hi! I am Magalie Linda <i class="fa fa-times" aria-hidden="true"></i></h2>
    		<div class="profile-picture animated bounceIn">
        		<img src="images/me-thumbnail.jpg" alt="Magalie Linda's Profile Picture">
    		</div>
			<p class="intro-text">I am a front-end developer. <br> My main passion is UX - based on story telling, typography,<br> and also clean, tidy HTML and CSS. <blockquote>"People don't want to buy the drill - people want to buy the hole in the wall"</blockquote></p>
    		<div class="cta-buttons">
                <a class="cta-button first" href="#mywork"><i class="fa fa-desktop" aria-hidden="true"></i>My Work.</a>
                <a class="cta-button second" href="#aboutme"><i class="fa fa-coffee" aria-hidden="true"></i>About Me.</a>
                <a class="cta-button third" href="#readme"><i class="fa fa-eur" aria-hidden="true"></i>For recruiters</a>
            </div>
			<div class="scroll-down">
				<a href="#mywork">
					<span></span>
				</a>
			</div>
    	</div>

	</div>
</div>