<section id="readme" class="about">
	<div class="container">
		<h2 class="section-title">Hello, recruiter.</h2>
		<div class="left-col">
    		<h3>Availability</h3>
    		<p>I am currently <strong>part-time</strong> available. If you'd like to hire me, please download my resume. I do keep it up to date. <a href="http://nl.linkedin.com/in/magaliechetrit">My LinkedIn</a> is also very informative.</p>
    		<h3>How to contact me</h3>
    		<p>The best way to reach me is via <a href="mailt:hellothere@magalielinda.me">email</a>.<br>
    		Telephone might work, but I do not pick up the phone a lot. 
    		</p>
		</div>
		<div class="right-col">
			<h3>My rates.</h3>
    		<p>My rates are between €55 (ex taxes) and €65. This depends on the assignment, location and expenses like travel. </p>
			<div class="pretty-box">
                <div class="resume"><i class="fa fa-download"></i><a href="CV-MagalieLinda.pdf" alt="Resume of Magalie Linda">Download my CV in PDF</a></div>
                <div class="resume"><i class="fa fa-download"></i><a href="CV-MagalieLinda.docx" alt="Resume of Magalie Linda">Download my CV in DOCX</a><small>(for you old-skool, people)</small></div>
                </div>
		</div>
	</div>
</section>