 <!-- Loops through "work items" array --> 
 <section id="mywork" class="work">
 <div class="container">
    <h2 class="section-title">Examples of my work.</h2>
    	<ul>
		{% for item in workitem %}
			<li class="work-item">
	    		<a href="{{ item.link }}">
	        		<img src="{{ item.img }}" />
	        			<p class="work-label"> {{ item.title }} </p>
	        	</a>		
    			<ul class="work-details">
    				<span>Made with:</span>
	            	<li class="{{item.tools[0].classname}}"><a href="{{item.tools[0].link}}">{{item.tools[0].name}}</a></li>
	            	<li class="code">
	            		<a href="http://sass-lang.com/">Sass</a>+<a href="http://susy.readthedocs.org/en/latest/">Susy Grid</a>
	            	</li>
	            	<li class="code">
	            		<a href="http://gulpjs.com//">Grunt/Gulp</a></a>
	            	</li>
            	{% if item.hasRepo %}
					<li class="github"><a href="{{item.repo}}">Git repo</a></li>
				{% endif %}
				{% if item.hired %}
						<li class=""><i class="fa fa-briefcase" aria-hidden="true"></i><a href="{{item.employerLink}}">{{item.employerName}}</a></li>
					{% endif %}
	            	
        		</ul>
	    			
			</li>

  		{% endfor %}

      </ul>
      </div>
</section>