<!-- index.njk -->
{% extends "templates/layout.njk" %}

{% block content %} 

	{% include "templates/partials/header.njk" %}
	<main>
		{% include "templates/partials/hero.njk" %}
		{% include "templates/partials/work-items.njk" %}
		{% include "templates/partials/about-me.njk" %}
		{% include "templates/partials/rates.njk" %}
	</main>
{% include "templates/partials/footer.njk" %}
{% endblock %}